<div class="row text-center mb-4">
  <div class="col">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
</div>

{{!-- List of comments --}}
<div class="row justify-content-center">
  <div class="col-md-8">
    {{!-- Foreach --}}
    <div class="card mb-3">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>comment about the post</p>
          <footer class="blockquote-footer">name date</footer>
        </blockquote>
      </div>
    </div>
    {{!-- end for --}}

  {{!-- Add comment --}}
    {{#if logged_in}}
    <div>
      <div class="text-center mb-1">
        <textarea class="form-control" id="commentInput" rows="3" placeholder="Leave a comment on this post.."></textarea>
      </div>
      <div class="d-grid gap-2 mb-3">
        <button class="btn btn-secondary" type="submit">Submit Comment</button>
      </div>
    </div>
    {{/if}}

  </div>
</div>

<script src="./js/comment.js"></script>